<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Todo List</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<form th:action="@{/}" method="post" th:object="${todoData}">
		<table>
			<tr>
				<th th:text=#{m.id}></th>
				<td>
					<span th:text="*{id}"></span>
					<input type="hidden" th:field="*{id}">
				</td>
			</tr>
			<tr>
				<th th:text=#{m.title}></th>
					<td>
						<input type="text" name="title" size="40" th:value="*{title}">
						<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="red"></div>
					</td>
			</tr>
			<tr>
				<th th:text=#{m.importance}></th>
				<td>
					<input type="radio" value="1" th:field="*{importance}" th:text=#{high}>
					<input type="radio" value="0" th:field="*{importance}" th:text=#{low}>
					<div th:if="${#fields.hasErrors('importance')}" th:errors="*{importance}" th:errorclass="red"></div>
				</td>
			</tr>
			<tr>
				<th th:text=#{m.urgency}></th>
				<td>
					<select name="urgency">
						<option value="-1" th:field="*{urgency}" th:text=#{select}></option>
						<option value="1" th:field="*{urgency}" th:text=#{high}></option>
						<option value="0" th:field="*{urgency}" th:text=#{low}></option>
					</select>
				<div th:if="${#fields.hasErrors('urgency')}" th:errors="*{urgency}" th:errorclass="red"></div>
				</td>
			</tr>
			<tr>
				<th th:text=#{m.deadline}></th>
				<td>
					<input type="text"  name="deadline" th:value="*{deadline}" placeholder="yyyy-mm-dd">
					<div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" th:errorclass="red"></div>
				</td>
			</tr>
			<tr>
				<th th:text=#{m.check}></th>
				<td>
					<input type="checkbox" value="Y" th:field="*{done}" th:text=#{m.done}>
					<input type="hidden" name="!done" value="N" />
				</td>
			</tr>
		</table>
		
		<div th:if="${session.mode == 'update'}">
			<input type="hidden" name="page" th:value="${param.page != null ? param.page : 0}">

			<button type="submit" th:formaction="@{/todo/update}" th:text=#{update}></button>			
			<button type="submit" th:formaction="@{/todo/delete}" th:text=#{delete}></button>
			<button type="submit" th:formaction="@{/todo/cancel}" th:text=#{cancel}></button>
		</div>
		<div th:unless="${session.mode == 'update'}">
			<button type="submit" th:formaction="@{/todo/create/do}" th:text=#{regist}></button>
			<button type="submit" th:formaction="@{/todo/cancel}" th:text=#{cancel}></button>
		</div>
	</form>
</body>
</html>